@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<body>
    <div class="area">
        <div class="bienvenida">
            <h1 style="margin-bottom: 20px;">Eventos Deportivos</h1>
            <img id="imagen-portada" src="resources/deportes.svg" height=400px>
        </div>
    </div>
</body>